<div class="container">
  <h1>コメント一覧</h1>
  <div class="thread-head">
    <span class="title">{{article?._title}}</span>
  </div>
  <div class="mgb10">
    <span class="info">日付: {{article?._date | jpdate}}</span>
    <p class="text">名前: {{article?.user.name}} </p>
  </div>
  <div class="divider">
    {{article?._desc}}
  </div>
  <ng-container
    *ngFor="let comment of comments;last as isLast"
  >
    <div class="flex-start-justify">
      <div class="flex-self-center">
        <ng-container *ngIf="!comment.edit_flag">
          コメント: {{comment._comment}}
        </ng-container>
        <ng-container *ngIf="comment.edit_flag">
          <textarea 
          class="login-input" 
          [(ngModel)]="comment._comment" 
          name="updateComment"></textarea>
          <button class="editbtn" (click)="updateComment(comment)">編集</button>
        </ng-container>
      </div>
      <div *ngIf="comment.user.uid === sessionData.user.uid">
        <span 
        class="deletebtn"
        (click)="deleteComment(article._aid, comment._cid)">
          x
        </span>
        <button
          class="editbtn"
          (click)="editFlagToggle(comment)"
          >編集</button>
      </div>
    </div>
    <div class="mgb15" [class.divider]="isLast">
      <span class="info">日付: {{comment._date | jpdate}}</span>
      <p class="text">名前: {{comment.user.name}}</p>
    </div>
  </ng-container>
  <form [formGroup]="commentForm" (ngSubmit)="addComment()">
    <div class="form-control">
      <textarea id="comment" name="comment" formControlName="comment"
      required
      class="login-input"
      placeholder="コメントを送信する"
      ></textarea>
    </div>
    <div class="flex-wrap">
      <a class="button--stroke" (click)="goBack()">戻る</a>
      <button 
      class="button--flat" 
      type="submit"
      [disabled]="!commentForm.valid"
      >投稿する</button>
    </div>
  </form>
</div>