@import '../../common';

.thread-head {
  padding-bottom: 5px;
  border-bottom: 3px solid $skyblue;
  margin-bottom: 10px;
}
.divider {
  margin-bottom: 50px;
  border-bottom: 1px solid $grey;
  padding-bottom: 5px;
}
.comment-text {
  margin-top: 15px;
}
