<div class="card">
  <form (ngSubmit)="submitLogin($event)" #loginForm="ngForm">
    <h1 class="card__head">Login</h1>
    <div class="card__body">
      <label class="label" for="email">email: </label>
      <input class="login-input" type="email" id="email" name="email" [(ngModel)]="account.email" #email="ngModel" required autofocus placeholder="email">
    </div>
    <div class="card__body">
      <label class="label" for="password">password: </label>
      <input class="login-input" type="password" id="password" name="password" [(ngModel)]="account.password" #password="ngModel" required placeholder="password">
    </div>
    <div class="card__bottom">
      <button class="button--flat" type="submit" [disabled]="!loginForm.form.valid">ログイン</button>
    </div>
  </form>
</div>
