<div class="container">
  <form (ngSubmit)="submitLogin($event)" #loginForm="ngForm">
    <h1>Login</h1>
    <div class="form-control">
      <label class="label" for="email">email: </label>
      <input class="input-area" type="email" id="email" name="email" [(ngModel)]="account.email" #email="ngModel" required autofocus>
    </div>
    <div class="form-control">
      <label class="label" for="password">password: </label>
      <input class="input-area" type="password" id="password" name="password" [(ngModel)]="account.password" #password="ngModel" required>
    </div>
    <button class="button--flat" type="submit" [disabled]="!loginForm.form.valid">ログイン</button>
  </form>
</div>
