<div class="container">
  <h1>スレッド編集</h1>
  <form #editArticleForm="ngForm">
    <div class="form-control">
      <label class="label" for="title">スレッド名</label>
      <input 
      class="login-input" 
      type="text" 
      id="title" 
      required 
      [(ngModel)]="article && article._title"
      name="title"
      #title="ngModel"
      >
    </div>
    <div class="form-control">
      <label class="label" for="desc">説明</label>
      <textarea 
      class="text-area"
      id="desc" 
      required
      [(ngModel)]="article && article._desc"
      name="desc"
      #desc="ngModel"
      ></textarea>
    </div>
    <div class="flex-wrap">
      <a class="button--stroke" (click)="resetForm()">リセット</a>
      <button 
      type="button" 
      class="button--flat" 
      [disabled]="!editArticleForm.valid"
      (click)="editArticle()"
      >編集</button>
    </div>
  </form>
  <div class="mgt30">
    <a class="arrow-text" (click)="goBack()">戻る</a>
  </div>
</div>