@import '../common';

.card {
  max-width: 500px;
  width: 90%;
  margin: 60px auto;
  border: 1px solid $skyblue;
  background: $white;
  &__head {
    background: $skyblue;
    color: $white;
    margin: 0 0 15px;
    padding: 20px;
  }
  &__body {
    padding: 20px;
  }
  &__bottom {
    padding: 12px;
  }
}
