<div class="container">
  <h1>簡易掲示板トップ</h1>
  <div class="mgb30">
    <a class="block-btn" routerLink="/create">新しいスレッド作成</a>
  </div>
  <ul>
    <ng-container
      *ngFor="let article of articles | async"
    >
      <li class="flex-center-justify mgb15">
        <a routerLink="/detail/{{article._aid}}">
          <p class="title navigate-link">{{article._title}}</p>
          <div class="mgb10">
            <span class="info">
              {{article._date | jpdate}}
            </span>
            <p class="text">
              {{article.user.name}}
            </p>
          </div>
        </a>
        <div 
        class="flex-right"
        *ngIf="article.user.uid === sessionData.user.uid"
        >
          <span
          class="deletebtn"
          (click)="deleteArticle(article._aid)"
          >x</span>
          <a
          class="editbtn"
          routerLink="/edit/{{article._aid}}"
          >編集</a>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
