<form (ngSubmit)="submitSignUp($event)" #signUpForm="ngForm">
  <h1>Sign Up</h1>
  <div>
    <label for="email">email: </label>
    <input 
    type="email" 
    id="email" 
    name="email"
    [(ngModel)]="account.email"
    #email="ngModel"
    required autofocus
    >
  </div>
  <div>
    <label for="password">password: </label>
    <input 
    type="text" 
    id="password" 
    name="password"
    [(ngModel)]="account.password"
    #password="ngModel"
    required
    >
  </div>
  <div>
    <label for="passwordConfirmation">password: </label>
    <input 
    type="text" 
    id="passwordConfirmation" 
    name="password_confirmation"
    [(ngModel)]="account.password_confirmation"
    #password_confirmation="ngModel"
    required
    >
  </div>
  <button class="button--flat" type="submit" [disabled]="!signUpForm.form.valid">
    SIGN UP
  </button>
</form>
<a routerLink="/account/login">
  ログインする
</a>