@import '../assets/styles/imports';
@import './mgb';

%button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  cursor: pointer;
}
.button {
  &--flat {
    @extend %button;
    background: $skyblue;
    color: $white;
    &:disabled {
      background: $grey;
      color: $black;
    }
    &:focus {
      outline: none;
    }
  }
  &--stroke {
    @extend %button;
    background: $white;
    color: $skyblue;
    border: 1px solid $skyblue;
  }
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-center-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start-justify {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.deletebtn {
    background: red;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
}
.editbtn {
  background: lightgray;
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.info {
  font-size: 12px;
  color: #cccccc;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.text {
  @include baseStyle();
  margin: 0;
}
.title {
  @include baseStyle($fontSize: 18px, $fontWeight: 600);
  margin: 0;
}
.label {
  display: block;
  margin-bottom: 10px;
}
.input-area {
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 3px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}
.text-area {
  width: 100%;
  height: calc(100vw / 4);
  border-radius: 4px;
  border: 3px solid #ccc;
}
.form-control {
  margin-bottom: 15px;
}

.navigate-link {
  transition: color .5s;
  &:hover {
    color: $skyblue;
  }
}

.login-input {
  border: none;
  border-bottom: 1px solid #999;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  &:focus {
    border-bottom: 1px solid $skyblue;
    outline: none;
  }
}