<header class="header">
  <div class="header-logo">
    <a class="header-logo__link" routerLink="/">掲示板</a>
  </div>
  <ul class="header-nav" *ngIf="!login">
    <li class="header-list">
      <a 
      [routerLink]="['/account/login']" routerLinkActive="active"
      class="header-link"
      >Login</a>
    </li>
    <li class="header-list">
      <a 
      [routerLink]="['/account/signup']" routerLinkActive="active"
      class="header-link"
      >SignUp</a>
    </li>
  </ul>
  <ul class="header-nav" *ngIf="login">
    <li class="header-list">
      <span class="header-link">
        {{username}}さん ログイン中
      </span>
    </li>
    <li class="header-list">
      <a 
      [routerLink]="['/account/login']" routerLinkActive="active"
      class="header-link"
      (click)="logout()"
      >Logout</a>
    </li>
  </ul>

</header>
